@page
@model RACHEL.DateCalculator_.Pages.DatesModel
@{
}

<form method="post">
    <input type="datetime-local" id="meeting-time"
           name="meeting-time" value="2022-09-21T02:26"
           min="2022-09-21T00:00" max="2022-09-22T00:00">
    <input type="submit" name="Please submit!">
</form>