@page
@model RACHEL.DateCalculator_.Pages.datesModel
@{
}
<form method="post">
    <input type="datetime-local" id="meeting-time"
           name="meeting-time" value="2022-09-22T03:00"
           min="2022-09-22T00:00" max="2022-09-22T00:00">
    <input type="submit" name="Please submit!">
</form>